.chat
  = render :partial => 'devise/shared/side_bar.html'
  .chat__main
    .chat__main--header
      = @group.name
      .chat__main--header--members
        - @members.each do |member|
          = member.name
      .chat__main--header--contents
        = link_to "Edit", edit_group_path(params[:group_id])
    .chat__main--body   
      = render partial: 'message', collection: @messages

    .chat__main--footer
      .chat__main--footer--in
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat__main--footer--in', placeholder: 'type a message'
          .chat__main--footer--in--file
            = f.label :image, class: 'chat__main--footer--in--file' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'chat__main--send'
